
body
{
    background-color: lightgrey;
}
header 
{
    border-radius: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    background-color: #292c2f;
}
header nav ol
{
    display: flex;
    justify-content: space-around;
}
header nav ol li a 
{
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    line-height: 2.5;
    color: white;
    text-decoration: none;
}

header nav ol li a:hover
{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #66a6d1, 0 0 5px darkblue;
}
.breadcrumb {
  list-style-type: none;

}


/*   ACCUEIL   */
.container
{
    display: flex;
    
    justify-content: center;
    
}
.h1-accueil
{
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-align: center;
    margin-top:     20px;
    margin-bottom:  20px;
}
.article-accueil
{
    text-align: center;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 50px;
}
.article-accueil h3
{
    text-decoration:underline;
}
.voyager
{
    align-content: center;
    background-color: white;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.voyager_1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}
.voyager_1 article
{
    width: 500px;
    height: 500px;
    padding: 20px;

}
.voyager_1 article h3
{
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkblue;

}
.voyager_1 article p
{
    color: darkblue;
        border-bottom: 5px solid darkblue;
    border-right: 5px solid darkblue;
    padding: 5%;

}
.voyager_2
{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image
{
    border-radius: 15%;
    padding: 20px;
    width: 500px;
    height: 500px;
}


/*    FOOTER   */

footer
{
    border-radius: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    background-color: white;
}
.footer-distributed
{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
 
    padding: 55px 50px;
    margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
    display: inline-block;
    vertical-align: top;
}
 
.footer-distributed .footer-left
{
    width: 40%;
}
 
.footer-distributed h3
{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
 
.footer-distributed .footer-links
{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
 
.footer-distributed .footer-links a
{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
 
.footer-distributed .footer-company-name
{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
 
 
.footer-distributed .footer-center
{
    width: 35%;
}
 
.footer-distributed .footer-center i
{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope
{
    font-size: 17px;
    line-height: 38px;
}
 
.footer-distributed .footer-center p
{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}
 
.footer-distributed .footer-center p span
{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
 
.footer-distributed .footer-center p a
{
    color:  #5383d3;
    text-decoration: none;;
}
 
.footer-distributed .footer-right
{
    width: 20%;
}
 
.footer-distributed .footer-company-about
{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
 
.footer-distributed .footer-company-about span
{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 880px) 
{
 
    .footer-distributed
    {
    font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
 
    .footer-distributed .footer-center i
    {
        margin-left: 0;
    }
    .main 
    {
        line-height: normal;
        font-size: auto;
    }
 
}

/*    INSCRIPTION    */

.container
{
  display: flex;
  justify-content: center;
 
}
.formulaire{
  display: flex;
  justify-content: center;
  padding: 30px;
  border: #292c2f solid 1px;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top:50px;
  width: 400px;
}
.formulaire:hover
{
  box-shadow: 4px 4px 6px 8px rgba(169,169,169,0.4);
}

.formulaire h3
{
  margin-bottom: 20px;
  font-size:30px;
  color: #292c2f;
}



.input_submit
{
   background-color:#292c2f;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
    margin-bottom: 10px; 
}

.input_annuler
{
     background-color: #292c2f;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred; 
    margin-top: 10px;
}
/*  message 'error' et 'success'  */

.error 
{
  padding: 1em;
  background-color: darkred;
  border-radius: 10px;
  color: white;
  margin-top: 10px; 
}

.success 
{
  width: 100%;
  padding: 1em;
  background-color: darkgreen;
  border-radius: 10px;
  color: white;
}
.error-2
{
    text-align: center;
  padding: 1em;
  background-color: darkred;
  border-radius: 10px;
  color: white;
  margin-top: 10px; 
}

/* TABLE PAGE ADMIN*/

table{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    width: 80%;
    background-color: white;
    color: #292c2f;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px red;
}
td{
    padding: 20px;
}
  













.calendar__nav {
    height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
/* h1 {
    color: lightseagreen;
} */
/* table th td{
    border: 2px solid rgb(122, 122, 122);
} */
.calendar__table {
    width: 100%;
    /* height: calc(100vh - 120px); */
    height: 110vh;
}   
.calendar__table th, .calendar__table td {
    padding: 10px;
    border: 2px solid #aaa;
    vertical-align: top;
    /* width: 14.29%; */
    width: 11%;
}
.calendar__table tr {
    height: 3em;
}
.calendar__weekday {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.calendar__weekend {
    width: 10px;
}
.calendar__day {
    font-size: 1.3em;
}
/* To use or not */
.calendar__othermonth .calendar__day{
    opacity: .3;
}