
body
{
    background-color: lightgrey;
}
header 
{
    border-radius: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    background-color: #292c2f;
}
header nav ol
{
    display: flex;
    justify-content: space-around;
}
header nav ol li a 
{
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    line-height: 2.5;
    color: white;
    text-decoration: none;
}

header nav ol li a:hover
{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #66a6d1, 0 0 5px darkblue;
}
.breadcrumb {
  list-style-type: none;

}


/*   ACCUEIL   */
.container
{
    display: flex;
    
    justify-content: center;
    
}
.h1-accueil
{
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-align: center;
    margin-top:     20px;
    margin-bottom:  20px;
}
.article-accueil
{
    text-align: center;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 50px;
}
.article-accueil h3
{
    text-decoration:underline;
}
.voyager
{
    align-content: center;
    background-color: white;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.voyager_1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}
.voyager_1 article
{
    width: 500px;
    height: 500px;
    padding: 20px;

}
.voyager_1 article h3
{
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkblue;

}
.voyager_1 article p
{
    color: darkblue;
        border-bottom: 5px solid darkblue;
    border-right: 5px solid darkblue;
    padding: 5%;

}
.voyager_2
{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image
{
    border-radius: 15%;
    padding: 20px;
    width: 500px;
    height: 500px;
}


/*    FOOTER   */

/*    INSCRIPTION    */

.container
{
  display: flex;
  justify-content: center;
 
}
.formulaire{
  display: flex;
  justify-content: center;
  padding: 30px;
  border: #292c2f solid 1px;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top:50px;
  width: 400px;
}
.formulaire:hover
{
  box-shadow: 4px 4px 6px 8px rgba(169,169,169,0.4);
}

.formulaire h3
{
  margin-bottom: 20px;
  font-size:30px;
  color: #292c2f;
}



.input_submit
{
   background-color:#292c2f;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
    margin-bottom: 10px; 
}

.input_annuler
{
     background-color: #292c2f;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred; 
    margin-top: 10px;
}
/*  message 'error' et 'success'  */

.error 
{
  padding: 1em;
  background-color: darkred;
  border-radius: 10px;
  color: white;
  margin-top: 10px; 
}

.success 
{
  width: 100%;
  padding: 1em;
  background-color: darkgreen;
  border-radius: 10px;
  color: white;
}
.error-2
{
    text-align: center;
  padding: 1em;
  background-color: darkred;
  border-radius: 10px;
  color: white;
  margin-top: 10px; 
}

/* TABLE PAGE ADMIN*/

table{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 17px 15px #a9a9a9;
    width: 80%;
    background-color: white;
    color: #292c2f;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px red;
}
td{
    padding: 20px;
}
  












